

.companie-section{
    background-color: red;
    
}
.companie{
    padding: 140px 0 151px;


}
.compaine__folder{
    width: 100%;
    max-width: 932px;
    margin: 0 auto; 
    text-align: center;
}
.companie__title{
    @include textstyle($fontSize:48px,$lineHeight:48px, $weight:700);
}
.companie__list{
    @include display();
    text-align: center;
}
.companie__item{
    padding-top: 92px;
    background-image: url("../../images/home/companie/vergul.svg");
    background-repeat: no-repeat;
    background-size: 67px 56px;
    background-position-y: 56px;
    background-position-x: center;

    max-width: 350px;
}
.companie__item+.companie__item{
    margin-left: 30px;
}
.companie__text{
    margin-bottom: 24px;
    text-align: center;
    @include textstyle($fontSize:15px, $lineHeight:25px);
}
.companie__item-title{
    @include textstyle($fontSize:18px, $lineHeight:28px, $weight:700, $textColor:#79C8C7);
    text-align: center;
}
.companie__italic{
    margin-bottom: 32px;
    display: block;
    @include textstyle($fontSize:13px, $lineHeight:18px, $weight:500);
    font-style: italic;
    text-align: center;
}






@media (max-width:800px){
    .compaine__folder{
        width: 100%;
        max-width: 573px;
        margin: 0 auto; 
        text-align: center;
    }
    .companie__list{
        @include display($direction"column");
        text-align: center;
        background-color: green;
    }
    .companie__item{
        max-width: 573px;
        width: 100%;
    }
    .companie__item-title{
        color: green;
    }
    }
